@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/** HEADER **/
#header{
  min-height: 100px;
}

#header a{
  text-decoration: none;
  color: white;
}

/** IMG BODY **/
#logo-body {
  z-index:-20;
  position:relative;
}

/** LOGIN **/

#entrar-btn{
  background-color: #035809;
}
#escola-cad{
  background-color: #FDB553;
}
#aluno-cad{
  background-color: #FD8D03;
}
#professor-cad{
  background-color: #FB3937;
}

/** ALUNO + PROFESSOR**/

#aluno-body{
  position: fixed;
  top:100px;
  bottom:100px;
}
#titulo-pag{
  height: 100px;
}
#card img{
  width:85%;
}

#hist-modulo1, #hist-modulo2, #hist-modulo3{
  display: none;
}
#hist-modulo1 button{
  border-radius: 50px;
  border: none;
  padding:0;
}
.img-historia{
  display: none;
}
#primeira-imagem{
  display: block;
}
#histModuloContent{
  display: none;
}
#matApModuloContent{
  display: none;
}

.expo-material{
  width: 200px;
  height: 200px;
  background-color: gray;
  border: 1px solid darkgrey; 
  padding:0;
  position: relative;
}

.expo-material:hover .card-titulo{
  height: 100%;
  padding: 10px;
  transition: height 0.2s;
  align-items:center;
  justify-content:center;
}
.card-titulo{
  background-color: rgba(0,0,0,0.7);
  color: white;
  height: 0;
  width: 100%;
  position: absolute;
  bottom:0;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: height 0.2s;
}

/** FOOTER **/

#footer{
  height: 100px;
  bottom: 0;
  position: absolute;
}
#footer-background{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: -1;
  max-height: 100px;
  min-height: 100px;
}
.social-icon{
  width: 30px;
}

#footer2{
  height: 100px;
  bottom: 0;
  position: absolute;
  background-color: #FDB356;
}



/** MEDIAS **/
@media (max-width:600px){
  #login-container{
    width: 100% ;
    min-height: 200px;
  }
  #index-body{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #logo-body{
    display:none;
  }
}