@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*CSS JOAO CLAUDIO*/
.borda{
  color: white;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
}
.borda2{
  color: white;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}
.borda2 a:hover {
  color: yellow;
}
.min{
 min-width: 300px;
}
/** CSS DRUMOND INICIO **/

.content {
    display: flex;
    justify-content: left;
}

.contato {
    width: 100%;
    max-width: 500px;
    margin-left: 15px;
    margin-top: -100px
}

.form {
    display: flex;
    flex-direction: column;
}

.field {
    padding: 5px;
    margin-bottom: 25px;
    margin-left: 15px;
    border: 2px solid #228B22;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

textarea {
    height: 150px;
}

.mapas {
    padding-left: 300px;
    margin-top: -50px
}

.flex{
    display:flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;



}
.flex > div{
    flex: 1 1 200px;
    margin: 10px;
    padding: 70px;


}
.texto{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  font-family: Sans-serif;
  padding: 70px;
  font-weight:;
  font-size: 15pt;



}
.texto h2{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  font-family: Arial, Helvetica, sans-serif;
}
/** CSS DRUMOND fim **/



/** HEADER **/
#header{
  min-height: 100px;
}

#header a{
  text-decoration: none;
  color: white;
}

/** IMG BODY **/
#logo-body {
  z-index:-20;
  position:relative;
}

/** LOGIN **/

#entrar-btn{
  background-color: #035809;
}
#escola-cad{
  background-color: #FDB553;
}
#aluno-cad{
  background-color: #FD8D03;
}
#professor-cad{
  background-color: #FB3937;
}

/** ALUNO **/

#aluno-body{
  position: fixed;
  top:100px;
  bottom:100px;
}
#titulo-pag{
  height: 100px;
}
#card img{
  width:85%;
}

#modulo1 button{
  border-radius: 50px;
  border: none;
  padding:0;
}
.img-historia{
  display: none;
}
#primeira-imagem{
  display: block;
}
#modulo1, #modulo2, #modulo3{
  display: none;
}

/** FOOTER **/

#footer{
  height: 100px;
  bottom: 0;
  position: absolute;
}
#footer-background{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: -1;
  max-height: 100px;
  min-height: 100px;
}
.social-icon{
  width: 30px;
}

#footer2{
  height: 100px;
  bottom: 0;
  position: absolute;
  background-color: #FDB356;
}

.scrollable{
  height: 300px;
  overflow-y: auto;

}


/** MEDIAS **/
@media (max-width:600px){
  #login-container{
    width: 100% ;
    min-height: 200px;
  }


  #index-body{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #logo-body{
    display:none;
  }

}

@media (width:300px){
  #menu_late{
  display:block;
  visibility: visible;
  }
}

@media (min-width:200px){
#menu_late{
  visibility: visible;
}

}
